/*index.html*/
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.main-container {
    position: relative;
    height: 100%;
    background-image: url(../img/background1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.button-container {
    position: absolute;
    top: 66%;
    left: 25%;
}
.button-container .btn {
    width: 292px;
    height: 56px;
    padding: 20px 30px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 3px;
    border: 1px solid transparent;
    font-size: 19px;
    line-height: 1;
    font-weight: 700;
    color: #ffffff;
    background-color: #288ae2;
}

.button-container a:visited {
    color: #727269;
    text-decoration: none;
}
.button-container a:hover {
    text-decoration: none;
    opacity: 0.75;
}
/*index-1.html*/

.page-left-padding {
    padding-left: 30px;
}

.page-right-padding {
    padding-right: 30px;
}
#body-page .list-filter {
    padding-top: 20px;
    padding-bottom: 30px;
}
#body-page .filter {
    display: inline-block;
    padding: 30px;
    cursor: pointer;
}
#body-page .img-container {
    display: inline-block;
    padding: 10px;
    margin-bottom: 20px;
}
#body-page .img-container {
    display: none;
}
#body-page .img-container {
    cursor: pointer;
}
.list-items img {
    width: 150px;
    height: 150px;
}
.filter-active {
    border-top: 5px solid #d0332b;
    border-bottom: 5px solid #d0332b;
}
.active {
    display: initial!important;
}

/*modal*/
.modal-body {

}
.modal-body img {
    width: 100%;
    height: 100%;
}

/*price-table*/
#price-table {
    margin-top: 60px;
}
.description p {
    padding: 0 0 10px;
}
.description {
    text-align: center;
}
.description .header {
    font-size: 25px;
}
.description .note {
    font-size: 14px;
    font-style: italic;
}